7) Text Analytics
1. Extract Sample document and apply following document preprocessing methods:
Tokenization, POS Tagging, stop words removal, Stemming and Lemmatization.
2. Create representation of documents by calculating Term Frequency and Inverse
DocumentFrequency.

In [1]:
import nltk
from nltk.stem import SnowballStemmer
text='The Moon is a barren, rocky world without air and water. It has dark lava plain on its surface. The Moon is filled wit craters. It has no light of its own. It gets its light from the Sun. The Moo keeps changing its shape as it moves round the Earth. It spins on its axis in 27.3 days stars were named after the Edwin Aldrin were the first ones to set their foot on the Moon on 21 July 1969 They reached the Moon in their space craft named Apollo II.'
text=text.lower()

In [2]:
word_token=nltk.word_tokenize(text)

In [3]:
word_token

['the',
 'moon',
 'is',
 'a',
 'barren',
 ',',
 'rocky',
 'world',
 'without',
 'air',
 'and',
 'water',
 '.',
 'it',
 'has',
 'dark',
 'lava',
 'plain',
 'on',
 'its',
 'surface',
 '.',
 'the',
 'moon',
 'is',
 'filled',
 'wit',
 'craters',
 '.',
 'it',
 'has',
 'no',
 'light',
 'of',
 'its',
 'own',
 '.',
 'it',
 'gets',
 'its',
 'light',
 'from',
 'the',
 'sun',
 '.',
 'the',
 'moo',
 'keeps',
 'changing',
 'its',
 'shape',
 'as',
 'it',
 'moves',
 'round',
 'the',
 'earth',
 '.',
 'it',
 'spins',
 'on',
 'its',
 'axis',
 'in',
 '27.3',
 'days',
 'stars',
 'were',
 'named',
 'after',
 'the',
 'edwin',
 'aldrin',
 'were',
 'the',
 'first',
 'ones',
 'to',
 'set',
 'their',
 'foot',
 'on',
 'the',
 'moon',
 'on',
 '21',
 'july',
 '1969',
 'they',
 'reached',
 'the',
 'moon',
 'in',
 'their',
 'space',
 'craft',
 'named',
 'apollo',
 'ii',
 '.']

In [4]:
sent_token=nltk.sent_tokenize(text)

In [5]:
sent_token

['the moon is a barren, rocky world without air and water.',
 'it has dark lava plain on its surface.',
 'the moon is filled wit craters.',
 'it has no light of its own.',
 'it gets its light from the sun.',
 'the moo keeps changing its shape as it moves round the earth.',
 'it spins on its axis in 27.3 days stars were named after the edwin aldrin were the first ones to set their foot on the moon on 21 july 1969 they reached the moon in their space craft named apollo ii.']

In [7]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopword=stopwords.words("english")

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/vishakha/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [8]:
stopword

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [9]:
removing_stopwords=[word for word in word_token if word not in stopword]

In [10]:
removing_stopwords

['moon',
 'barren',
 ',',
 'rocky',
 'world',
 'without',
 'air',
 'water',
 '.',
 'dark',
 'lava',
 'plain',
 'surface',
 '.',
 'moon',
 'filled',
 'wit',
 'craters',
 '.',
 'light',
 '.',
 'gets',
 'light',
 'sun',
 '.',
 'moo',
 'keeps',
 'changing',
 'shape',
 'moves',
 'round',
 'earth',
 '.',
 'spins',
 'axis',
 '27.3',
 'days',
 'stars',
 'named',
 'edwin',
 'aldrin',
 'first',
 'ones',
 'set',
 'foot',
 'moon',
 '21',
 'july',
 '1969',
 'reached',
 'moon',
 'space',
 'craft',
 'named',
 'apollo',
 'ii',
 '.']

In [13]:
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
from nltk.stem import SnowballStemmer
wordnet_lemmatizer=WordNetLemmatizer()
lemmatized_word=[wordnet_lemmatizer.lemmatize(word) for word in removing_stopwords]

[nltk_data] Downloading package omw-1.4 to /home/vishakha/nltk_data...

In [14]:
lemmatized_word

['moon',
 'barren',
 ',',
 'rocky',
 'world',
 'without',
 'air',
 'water',
 '.',
 'dark',
 'lava',
 'plain',
 'surface',
 '.',
 'moon',
 'filled',
 'wit',
 'crater',
 '.',
 'light',
 '.',
 'get',
 'light',
 'sun',
 '.',
 'moo',
 'keep',
 'changing',
 'shape',
 'move',
 'round',
 'earth',
 '.',
 'spin',
 'axis',
 '27.3',
 'day',
 'star',
 'named',
 'edwin',
 'aldrin',
 'first',
 'one',
 'set',
 'foot',
 'moon',
 '21',
 'july',
 '1969',
 'reached',
 'moon',
 'space',
 'craft',
 'named',
 'apollo',
 'ii',
 '.']

In [21]:
snowball_stemmer=SnowballStemmer('english')
stemmed_word=[snowball_stemmer.stem(word) for word in lemmatized_word]

In [22]:
stemmed_word

['moon',
 'barren',
 ',',
 'rocki',
 'world',
 'without',
 'air',
 'water',
 '.',
 'dark',
 'lava',
 'plain',
 'surfac',
 '.',
 'moon',
 'fill',
 'wit',
 'crater',
 '.',
 'light',
 '.',
 'get',
 'light',
 'sun',
 '.',
 'moo',
 'keep',
 'chang',
 'shape',
 'move',
 'round',
 'earth',
 '.',
 'spin',
 'axi',
 '27.3',
 'day',
 'star',
 'name',
 'edwin',
 'aldrin',
 'first',
 'one',
 'set',
 'foot',
 'moon',
 '21',
 'juli',
 '1969',
 'reach',
 'moon',
 'space',
 'craft',
 'name',
 'apollo',
 'ii',
 '.']

In [23]:
words_without_punctuation=[]
for word in lemmatized_word:
    if word.isalpha():
        words_without_punctuation.append(word)

In [24]:
words_without_punctuation

['moon',
 'barren',
 'rocky',
 'world',
 'without',
 'air',
 'water',
 'dark',
 'lava',
 'plain',
 'surface',
 'moon',
 'filled',
 'wit',
 'crater',
 'light',
 'get',
 'light',
 'sun',
 'moo',
 'keep',
 'changing',
 'shape',
 'move',
 'round',
 'earth',
 'spin',
 'axis',
 'day',
 'star',
 'named',
 'edwin',
 'aldrin',
 'first',
 'one',
 'set',
 'foot',
 'moon',
 'july',
 'reached',
 'moon',
 'space',
 'craft',
 'named',
 'apollo',
 'ii']

In [25]:
nltk.download('averaged_perceptron_tagger')
pos_tag=nltk.pos_tag(words_without_punctuation)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/vishakha/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [26]:
pos_tag

[('moon', 'NN'),
 ('barren', 'NNS'),
 ('rocky', 'JJ'),
 ('world', 'NN'),
 ('without', 'IN'),
 ('air', 'NN'),
 ('water', 'NN'),
 ('dark', 'NN'),
 ('lava', 'NN'),
 ('plain', 'NN'),
 ('surface', 'NN'),
 ('moon', 'NN'),
 ('filled', 'VBD'),
 ('wit', 'JJ'),
 ('crater', 'NN'),
 ('light', 'JJ'),
 ('get', 'VB'),
 ('light', 'JJ'),
 ('sun', 'NN'),
 ('moo', 'NN'),
 ('keep', 'VB'),
 ('changing', 'VBG'),
 ('shape', 'NN'),
 ('move', 'NN'),
 ('round', 'NN'),
 ('earth', 'NN'),
 ('spin', 'JJ'),
 ('axis', 'JJ'),
 ('day', 'NN'),
 ('star', 'NN'),
 ('named', 'VBN'),
 ('edwin', 'NN'),
 ('aldrin', 'NN'),
 ('first', 'RB'),
 ('one', 'CD'),
 ('set', 'NN'),
 ('foot', 'NN'),
 ('moon', 'NN'),
 ('july', 'NN'),
 ('reached', 'VBD'),
 ('moon', 'JJ'),
 ('space', 'NN'),
 ('craft', 'NN'),
 ('named', 'VBN'),
 ('apollo', 'IN'),
 ('ii', 'NN')]

In [70]:
import pandas as pd
import numpy as np

In [71]:
d0='data science is one of the most important fields of science'
d1='this is one of the best data science courses'
d2='data scientists analyze data'

In [72]:
corpus = [d0,d1,d2]

In [73]:
corpus

['data science is one of the most important fields of science',
 'this is one of the best data science courses',
 'data scientists analyze data']

In [90]:
words_set = set()

for doc in corpus:
    words = doc.split(' ')
    words_set = words_set.union(set(words))
    #words_set = set(corpus).union(set(words))
    
print('Number of words in the corpus:',len(words_set))

Number of words in the corpus: 14

In [91]:
print('The words in the corpus: \n', words_set)

The words in the corpus:
 {'best', 'analyze', 'most', 'scientists', 'important', 'this', 'fields', 'science', 'the', 'of', 'courses', 'data', 'one', 'is'}

In [92]:
n_docs = len(corpus)         #·Number of documents in the corpus
n_words_set = len(words_set) #·Number of unique words in the 

df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=words_set)

# Compute Term Frequency (TF)
for i in range(n_docs):
    words = corpus[i].split(' ') # Words in the document
    for w in words:
        df_tf[w][i] = df_tf[w][i] + (1 / len(words))
        
df_tf

,best,analyze,most,scientists,important,this,fields,science,the,of,courses,data,one,is
0,0.000000,0.00,0.090909,0.00,0.090909,0.000000,0.090909,0.181818,0.090909,0.181818,0.000000,0.090909,0.090909,0.090909
1,0.111111,0.00,0.000000,0.00,0.000000,0.111111,0.000000,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
2,0.000000,0.25,0.000000,0.25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000

In [93]:
print("IDF of: ")

idf = {}

for w in words_set:
    k = 0    # number of documents in the corpus that contain this word
    
    for i in range(n_docs):
        if w in corpus[i].split():
            k += 1
            
    idf[w] =  np.log10(n_docs / k)
    
    print(f'{w:>15}: {idf[w]:>10}' )

IDF of:
           best: 0.47712125471966244
        analyze: 0.47712125471966244
           most: 0.47712125471966244
     scientists: 0.47712125471966244
      important: 0.47712125471966244
           this: 0.47712125471966244
         fields: 0.47712125471966244
        science: 0.17609125905568124
            the: 0.17609125905568124
             of: 0.17609125905568124
        courses: 0.47712125471966244
           data:        0.0
            one: 0.17609125905568124
             is: 0.17609125905568124

In [94]:
df_tf_idf = df_tf.copy()

for w in words_set:
    for i in range(n_docs):
        df_tf_idf[w][i] = df_tf[w][i] * idf[w]
        
df_tf_idf

,best,analyze,most,scientists,important,this,fields,science,the,of,courses,data,one,is
0,0.000000,0.00000,0.043375,0.00000,0.043375,0.000000,0.043375,0.032017,0.016008,0.032017,0.000000,0.0,0.016008,0.016008
1,0.053013,0.00000,0.000000,0.00000,0.000000,0.053013,0.000000,0.019566,0.019566,0.019566,0.053013,0.0,0.019566,0.019566
2,0.000000,0.11928,0.000000,0.11928,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000